/* global styles */
html {
    box-sizing: border-box;
}
body {
        background-color: #00285a;
        height: 100%;
        margin: 0;
    }
.section-header {
    color: orange;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    margin-top: .5em;
    margin-bottom: 0;
}

/* heading styles */
.scores {
    display: flex;
}
.boxscore {
    background: white;
    width: 70px;
    height: 70px;
    margin: .5em auto;
    border: 2px solid silver;
}
.away-team, .home-team {
    height: 49%;
    width: 100%;
    font-family: 'Righteous', cursive;
}
.away-team {
    display: flex;
}
.away-team-logo, .away-team-score, .home-team-logo, .home-team-score {
    height: 100%;
    width: 50%;
}
.home-team {
    display: flex;
    border-top: 2px solid silver;
}
.away-team-logo, .home-team-logo, .away-team-score, .home-team-score {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.team-logo {
    width: 1.5em;
}
.redwings {
    background: #cc0a34;
    color: white;
}
.leafs {
    background: #002663;
    color: white;
}
.oilers {
    background: #00285a;
    color: white;
}
.hawks {
    background: #e73439;
    color: white;
}
.wild {
    background: #005931;
    color: white;
}
.sens {
    background: #d69f0f;
    color: white;
}
.habs {
    background: #bd2c39;
    color: white;
}
.sharks {
    background: #215d6b;
    color: white;
}
/* nav styles */
nav {
  background:white;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
}

.fixed-nav li.logo {
  max-width:500px;
}

nav a {
  text-decoration: none;
  padding:10px;
  display: inline-block;
  color:orange;
  transition:all 0.2s;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}
/* brand styles */
.brand {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.brand-logo, .brand-text {
    width: 50%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    text-align: center;
}
h1 {
    font-size: 250%;
}
/* feed styles */

.updates {
    border-top: 5px solid silver;
    color: white;
    text-align: center;
    height: 10em;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.updates-list {
    list-style-type:square;
    text-align: left;
    font-family: 'Abel', sans-serif;
    overflow-y:scroll;
    height:10em;
    width:100%;
    position:absolute;
}

/* matchup styles */
.matchup {
    border-top: 5px solid silver; 
    border-bottom: 5px solid silver; 
    height: 20em;
}
.matchup-detail {
    height: 100px;
    width: 100%;
    margin:  10px auto;
    display: flex;
}
.vs {
    border-left: 2px solid silver; 
    border-right: 2px solid silver; 
    width: 9%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: orange;
}
.my-team, .opponent-team {
    width: 45%;
    color: white;
    font-family: 'Abel', sans-serif;
}
table,
td {
    border: 1px solid #333;
    width: 100%;
}

thead,
tfoot {
    color: #fff;
}
.panel {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.roster, .research {
    width: 50%;
    border: 2px solid silver;
}